LayoutEditor/LayoutEditor.DAL/Service References/ServiceReferenceLayouts/ServiceLayouts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SaveUserFlags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="assayId" type="xs:long" />
        <xs:element minOccurs="0" name="flagCsv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flaggedPositionHtml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserFlagsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadUserFlags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="assayId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadUserFlagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadUserFlagsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFixedLayoutWithFlags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fixedLayoutNum" type="xs:int" />
        <xs:element minOccurs="0" name="assayId" type="xs:long" />
        <xs:element minOccurs="0" name="previousRunId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFixedLayoutWithFlagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFixedLayoutWithFlagsResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flags" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLayoutWithFlags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLayoutId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="assayId" type="xs:long" />
        <xs:element minOccurs="0" name="previousRunId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLayoutWithFlagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserLayoutWithFlagsResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flags" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLayout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLayoutId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLayoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserLayoutResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFixedLayout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assayId" type="xs:long" />
        <xs:element minOccurs="0" name="fixedLayoutNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFixedLayoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFixedLayoutResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserLayout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="layoutId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLayoutXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="assayId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserLayoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserLayoutResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typeGroupCountCSV" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numUsedWellsFirstPlate" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>